<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <nav id="navbar">
        <a href="/"
           th:classappend="${#httpServletRequest.requestURI == '/' || #httpServletRequest.requestURI == '/index'}">
            Accueil</a>
        <a href="/signup"
           th:classappend="${#httpServletRequest.requestURI == '/signup'}"
           th:if="${session.subscription == null}">Inscription</a>
        <a href="/login"
           th:classappend="${#httpServletRequest.requestURI == '/login'}"
           th:if="${session.subscription == null}">Connexion</a>
        <a href="/join"
           th:classappend="${#httpServletRequest.requestURI == '/join'}"
           th:if="${session.subscription == null}">Rejoindre</a>
        <a href="/profile"
           th:classappend="${#httpServletRequest.requestURI == '/profile'}"
           th:if="${session.subscription != null}">Profile</a>
        <a href="/managepayments"
           th:classappend="${#httpServletRequest.requestURI == '/managepayments'}"
           th:if="${session.subscription != null}">Historique de paiements</a>
        <a href="/billingmember"
           th:classappend="${#httpServletRequest.requestURI == '/billingmember'}"
           th:if="${session.subscription != null && session.subscription.status.superAdmin == False && session.subscription.stop == 0}">Paiement</a>
        <a href="/billingsuperadmin"
           th:classappend="${#httpServletRequest.requestURI == '/billingsuperadmin'}"
           th:if="${session.subscription != null && session.subscription.status.superAdmin == True && session.subscription.stop == 0}">Paiement</a>
        <a href="/managemembers"
           th:classappend="${#httpServletRequest.requestURI == '/managemembers'}"
           th:if="${session.subscription != null && session.subscription.status.admin == True}">Gestion des membres</a>
        <a href="/logout"
           th:classappend="${#httpServletRequest.requestURI == '/logout'}"
           th:if="${session.subscription != null}">Déconnexion</a>
    </nav>
</div>

<div th:fragment="sidebar">
    <nav id="sidebar">
        <div class="sidebar">
            <div class="siderbar-logo">
                <img class="logo" src="images/logo.png">
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="" class="act"><span class="tab-bord"></span><span> Tableau de bord</span></a>
                    </li>
                    <li>
                        <a href="managemembers" class="active"><span class="G-member"></span><span>Gestion des membres</span></a>
                    </li>
                    <li>
                        <a href="" class="act"><span class="bill"></span><span>Billetterie</span></a>
                    </li>
                    <li>
                        <a href="" class="act"><span class="coll"></span><span>Collectes</span></a>
                    </li>
                    <li>
                        <a href="managepayments" class="act"><span class="pai"></span><span>Paiement</span></a>
                    </li>
                    <li>
                        <a href="" class="act"><span class="comm"></span><span>Communication</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>