<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <title>sidebar</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="sidebar">
        <div class="siderbar-logo">
            <img class="logo" src="images/logo.png"/>
        </div>
        <div class="sidebar-menu">
            <div th:if="${#strings.equals(#request.getParameter('error'), 'badCredentialsException')}"></div>
            <ul>
                <li>
                    <a href="/dashboard" th:class="${#strings.equals(page, 'dashboard')} ? active : act"><span class="tab-bord"></span><span>Tableau de bord</span></a>
                </li>
                <li>
                    <a href="/managemembers" th:class="${#strings.equals(page, 'managemembers')} ? active : act"><span class="G-member"></span><span>Gestion des membres</span></a>
                </li>
                <li>
                    <a class="act"><span class="bill"></span><span>Billetterie</span></a>
                </li>
                <li>
                    <a class="act"><span class="coll"></span><span>Collectes</span></a>
                </li>
                <li>
                    <a href="/managepayments" th:class="${#strings.equals(page, 'managepayments')} ? active : act"><span class="pai"></span><span>Paiements</span></a>
                </li>
                <li>
                    <a href="/contact" th:class="${#strings.equals(page, 'contact')} ? active : act"><span class="comm"></span><span>Communication</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>