<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <title>topbar</title>
</head>
<body>
<div th:fragment="topbar">
    <nav id="topbar">
        <ul>
          <li><a href="/dashboard"
                   th:if="${#strings.contains(#httpServletRequest.requestURI, 'profile')}">Tableau de bord</a></li>
            <li><a href="/"
                   th:if="${session.subscription == null}">Accueil</a></li>
            <li><a href="/signup"
                   th:if="${session.subscription == null}">Inscription</a></li>
            <li><a href="/login"
                   th:if="${session.subscription == null}">Connexion</a></li>
            <li><a href="/join"
                   th:if="${session.subscription == null}">Rejoindre</a></li>
            <li><a href="/billingmember"
                   th:if="${session.subscription != null && session.subscription.status.superAdmin == False && session.subscription.stop == 0}">Paiement</a>
            </li>
            <li><a href="/billingsuperadmin"
                   th:if="${session.subscription != null && session.subscription.status.superAdmin == True && session.subscription.stop == 0}">Paiement</a>
            </li>
            <li><a href="/profile"
                   th:if="${session.subscription != null}">Profile</a></li>
            <li><a href="/logout"
                   th:if="${session.subscription != null}">Déconnexion</a></li>

        </ul>
    </nav>
</div>
</body>
</html>
