.logo{
    width : 9%;
    float : left;
    margin-right : 20px;
}
nav{
    text-align: right;
}
nav ul li{
    display: inline-flex;
    list-style: none;
}
nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 0px 20px;
}
a{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #9b59b6;
    text-decoration: none;
}
a:hover{
    color: #71b7e6;
    text-decoration: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background:#9b59b6;
}
a:before {
    left: 0;
}
a:after {
    right: 0;
    background: #9b59b6;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:before {
    background: #71b7e6;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:after {
    background:transparent;
    width: 100%;
    transition: 0s;
}
main{
    display: grid;
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
main .head{
    padding-left: 20px;
    color: white;
}
@media only screen and (max-width: 700px) {
    main{
        height: 95vh;
    }
    .container{
        width: 95%;
    }
    nav{
        max-width: 100%;
        padding-left: 40px;
    }
}
