.logo{
    width : 100px;
    float : left;
    margin-right : 20px;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 360px;
    width:100%;
    background: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .text{
    font-size: 20px;
    font-weight: 500;
}
.container form{
    margin-top: -20px;
}
.container form .data{
    height: 45px;
    width : 100%;
    margin: 40px 0;
}
form .data label{
    font-size: 15px;
}
form .data input{
    height: 100%;
    width : 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
}
form .connecter input{
    outline: none;
    color:#fff;
    border:none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
@media (width: 600px) {
    .container{
        max-width: 100%;
    }
}
@media (max-height:600px) {
    .container{
        max-height: 100%;
    }
    form{
        height: 100%;
    }
}