.logo{
    width : 14%;
    height: 6.5em;
    float : left;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
nav{
    text-align: right;
}
nav ul li{
    display: inline-flex;
    list-style: none;
}
nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 0px 20px;
}
a{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #9b59b6;
    text-decoration: none;
}
a:hover{
    color: #71b7e6;
    text-decoration: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background:#9b59b6;
}
a:before {
    left: 0;
}
a:after {
    right: 0;
    background: #9b59b6;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:before {
    background: #71b7e6;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:after {
    background:transparent;
    width: 100%;
    transition: 0s;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 360px;
    width:100%;
    background: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .text{
    font-size: 20px;
    font-weight: 500;
    padding-left: 65px;
}
.container .err{
    color: red;
    font-size: 15px;
    text-align: center;
}

.container .textj{
    font-size: 20px;
    font-weight: 500;
    padding-left: 75px;
}
.container form{
    margin-top: -20px;
}
.container form .data{
    height: 45px;
    width : 100%;
    margin: 40px 0;
}
form .data label{
    font-size: 15px;
}
form .data input{
    height: 100%;
    width : 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
}
form .connecter input{
    outline: none;
    color:#fff;
    border:none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin-left: 90px;
    border-radius: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .connect input{
    outline: none;
    color:#fff;
    border:none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin-left: 105px;
    border-radius: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .pass{
    margin-left: 70px;
}
form .sign{
    margin-left: 25px;
}
@media only screen and (max-width: 700px) {
    .container{
        width: 95%;
    }
    nav{
        max-width: 100%;
        padding-left: 30px;
    }
    .container form .data{
        width: 100%;
    }

}
