.logo{
    width : 9%;
    float : left;
    margin-right : 20px;
}
nav{
    padding-left: 50%;
}
nav ul li{
    display: inline-flex;
    list-style: none;
}
nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1.8vw;
    padding: 0px 20px;
}
a{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #9b59b6;
    text-decoration: none;
}
a:hover{
    color: #71b7e6;
    text-decoration: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background:#9b59b6;
}
a:before {
    left: 0;
}
a:after {
    right: 0;
    background: #9b59b6;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:before {
    background: #71b7e6;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:after {
    background:transparent;
    width: 100%;
    transition: 0s;
}
main{
    display: grid;
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
main .head{
    padding-top: 10%;
    text-align: center;
    font-size: 3vw;
    color: white;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    position: center;
}
.container{
    height: 50%;
    width: calc(100% / 4 - 40px);
    margin-bottom: 120px;
    background: #ffff;
    padding: 4%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.container .link-box{
    position: center;
}
.container .link-box .link{
    text-align: center;
    font-size: 1.2vw;
}
.container .link-box .image1{
    height: 100%;
    width: 50%;
    margin-left: 21%;
}
.container .link-box .image{
    height: 100%;
    width:50%;
    margin-left: 25%;
}
@media (max-width: 1000px) {
    nav{
        max-width: 100%;
        padding-left: 30px;
    }
    .container{
        width: 45%;
        align-content: space-between;
    }
    .container .link-box .link{
        margin-left: 8px;
        font-size: 14px;
        font-weight: bold;
    }

}