.logo{
    width : 17%;
    float : left;
    padding-left: 4%;
    padding-right: 5%;
}
main{
    display: flex;
    height: 200%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    padding-bottom: 8%;
    padding-top: 8%;
}
nav{
   text-align: right;
}
nav ul li{
    display: inline-flex;
    list-style: none;
}
nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 0px 20px;
}
a{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: #9b59b6;
    text-decoration: none;
}
#centerInscrit{
    margin: 0 auto;
     width: 140px; 
}
a:hover{
    color: #71b7e6;
    text-decoration: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background:#9b59b6;
}
a:before {
    left: 0;
}
a:after {
    right: 0;
    background: #9b59b6;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:before {
    background: #71b7e6;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover:after {
    background:transparent;
    width: 100%;
    transition: 0s;
}
.container{
    max-width: 700px;
    width:100%;
    background: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.container .err{
    color: red;
    font-size: 15px;
    text-align: center;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 10px 0 5px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6
}
form .user-details .gender-details{
    margin-bottom : 15px;
    width : calc(100% /2 - 20px);
}
form .user-details .price-details{
    margin-bottom : 15px;
    width : calc(100% /2 - 20px);
}
.user-details .gender-details .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .price-details .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .price-details .category{
    display : flex;
    width : 80%;
    margin: 14px;
    justify-content : space-between;
}
form .login{
    text-align: center;
}
form .button{
    height: 35px;
    margin: 35px 0;
}
form .button input{
    height: 100%;
    width: 40%;
    margin-left: 30%;
    outline: none;
    color:#fff;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .h-captcha{
    text-align: center;
}
form .disabled {
    pointer-events: none;
    cursor: default;
    filter: grayscale(1);
}
@media only screen and (max-width: 700px) {
    main{
        height: 160vh;
    }
    .container{
        width: 90%;
    }
    nav{
        max-width: 100%;
        padding-left: 30px;
    }
    .container form .user-details{
        max-height: 480px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    form .user-details .input-box{
        margin: 10px 0 5px 0;
        width: 100%;
    }
    form .user-details .gender-details {
        margin: 10px 0 5px 0;
        width: 100%;
    }
    form .user-details .price-details{
        margin: 10px 0 5px 0;
        width: 100%;
    }
}




