<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/billingmember.css"/>
    <title>Effectuer un paiement</title>
</head>
<body>
<div th:insert="fragments/navbar.html :: navbar"></div>
<header>
    <img class="logo" src="images/logo.png">
</header>
<main>
    <div class = formulaire>
        <div class="titre"><strong>Ajouter un paiement</strong></div>
        <p th:text="${error}"></p>
        <form action="/billingconfirm" id="billingConfirm" method="post">

            <div class="user-details">
                <div class="input-box">
                    <label class="details"  for="creditCard">Numéro de carte bancaire</label>
                    <input id="creditCard" name="creditCard"
                           pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12})$"
                           placeholder="Entrez votre numéro de carte bancaire"
                           required type="text">
                </div>
                <div class="input-box">
                    <label class="details" for="expirationDate">Date d'expiration</label>
                    <input id="expirationDate" name="expirationDate" pattern="[0-9]{2}/[0-9]{2}"
                           placeholder="Entrez votre date d'expiration de carte au format MM/AA" required
                           type="text">
                </div>
                <div class="input-box">
                    <label class="details" for="cryptogram">Cryptogramme</label>
                    <input id="cryptogram" name="cryptogram" pattern="[0-9]{3}" placeholder="Entrez votre cryptogramme de carte"
                           required type="text">
                </div>
                <div class="input-box">
                    <label class="details" for="name">Nom</label>
                    <input id="name" name="name" placeholder="Entrez le nom présent sur la carte bancaire"
                           required type="text">
                </div>


            </div>
            <div class="ab-details">
                <input type="radio" name="ab" id="price-1">
                <input type="radio" name="ab" id="price-3">
                <input type="radio" name="ab" id="price-12">
                <span class="ab-title">Choisissez votre abonnement</span>
                <div class="type">
                    <label for="price-1">
                        <span class="price one"></span>
                        <span class="ab">Abonnement 1 mois</span>
                        <p th:text="${session.subscription.association.price1Month}"></p>

                    </label>

                    <label for="price-3">
                        <span class="price two"></span>
                        <span class="ab">Abonnement 3 mois</span>
                        <p th:text="${session.subscription.association.price3Months}"></p>

                    </label>

                    <label for="price-12" >
                        <span class="price three"></span>
                        <span class="ab"> Abonnement 12 mois</span>
                        <p th:text="${session.subscription.association.price12Months}"></p>

                    </label>
                </div>

            </div>

            <div class="button">
                <div class="input-button">
                    <input type="submit" value="Procéder au paiement">
                </div>
                <div class="input-button">
                    <form action="/billingskip" method="post">
                        <input th:disabled="${session.subscription.delayed}" type="submit" value="Effectuer le paiement plus tard">
                    </form>
                </div>
            </div>



        </form>
    </div>


</main>

</body>
</html>