<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/contact.css"/>
    <title>Communication</title>
</head>
<body>
<div class="main-content">
    <header>
        <h1>Communication</h1>
        <div class="topbar" th:insert="fragments/topbar.html :: topbar"></div>
        <div class="sidebar" th:insert="fragments/sidebar.html :: sidebar"></div>
    </header>
    <main>
        <div class="formulaire">
            <div class="title"><strong>Formulaire de contact</strong></div>
            <p th:text="${success}"></p>
            <p th:text="${error}"></p>
            <form action="/contactconfirm" id="contactConfirm" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <input id="object"
                               name="object"
                               placeholder="Entrez l'objet du mail"
                               type="text" required>
                    </div>
                    <div class="input-box">
                        <textarea id="body"
                                  name="body"
                                  rows="5"
                                  cols="33"
                                  placeholder="Votre message"
                                  type="text" required></textarea>
                    </div>
                    <div class="dropdown" th:object="${session.member}">
                        <select id="emailMember" name="emailMember">
                            <option value="">Choisir un membre</option>
                            <option value="all">Tous les membres</option>
                            <option th:each="member : ${session.members}"
                                    th:value="${member.email}"
                                    th:text="${member.firstName}+' '+${member.lastName}"></option>
                        </select>
                    </div>
                    <div class="input-button1">
                        <input id="contactButton" name='contactButton' type="submit" value="Envoyer">
                    </div>
                </div>
            </form>
        </div>
    </main>
    </div>
</body>
</html>