<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/dashboard.css"/>
    <title>Tableau de bord</title>
</head>
<body>
<div class="main-content">
    <header>
        <h1>Tableau de bord</h1>
        <div class="topbar" th:insert="fragments/topbar.html :: topbar"></div>
        <div class="sidebar" th:insert="fragments/sidebar.html :: sidebar"></div>
    </header>
    <main>
        <div class="cont">
            <div class="container">
                <div class="sub-container">
                    <img class="image" src="images/user.png"/>
                    <div class="description">
                        <p th:text="${session.members.size()}"></p>
                        <p>Membres</p>
                    </div>
                </div>
                <div class="sub-container">
                    <img class="image" src="images/donnant.png"/>
                    <div class="description">
                        <p>0 €</p>
                        <p>de collecté</p>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="sub-container">
                    <img class="image" src="images/verifie.png"/>
                    <div class="description1">
                        <p th:text="${session.date}"></p>
                        <p>Avant expiration</p>
                    </div>
                </div>
                <div class="sub-container">
                    <img class="image" src="images/new_member.png"/>
                    <div class="description1" id=case_5_text>
                        <p id="member_count_number5" th:text="${session.membersinmonth.size()}"></p>
                        <p> durant ce mois</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>