<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />
    <title>Connexion</title>
</head>
<body>
<div>
    <div id="connexion">
        <h1>Connectez-vous : </h1>
        <p th:text="${error}"></p>
        <form method="post" action="/loginconfirm">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Entrez votre adresse email">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe">
            <a href="/signup">Pas encore inscrit ? Inscrivez vous !</a>
            <a href="/passwordforgotten">Mot de passe oublié ?</a>
            <input type="submit" value="Se connecter">
        </form>
    </div>
</div>
</body>
</html>