<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/managemembers.css"/>
    <title>Gestion des membres</title>

</head>
<body>
<div class="main-content">
    <header>
        <h1>Gestion des membres</h1>
        <div class="topbar" th:insert="fragments/topbar.html :: topbar"></div>
        <div class="sidebar" th:insert="fragments/sidebar.html :: sidebar"></div>
    </header>
    <main>
        <div class="formulaire">
            <div class="title1"><strong>Ajouter un adhérent</strong></div>
            <p class="succ" th:text="${success}"></p>
            <p class="err" th:text="${error}"></p>
            <form action="/addmembersconfirm" id="addMemberConfirm" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <label class="details" for="firstName">Prénom</label>
                        <input id="firstName"
                               name="firstName"
                               pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                               placeholder="Entrez le prénom"
                               type="text" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="lastName">Nom</label>
                        <input id="lastName"
                               name="lastName"
                               pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                               placeholder="Entrez le nom"
                               type="text" required>
                    </div>
                    <div class="gender-details">
                        <label class="details">Sexe</label>
                        <input id="homme" name="sex" value="homme" type="radio"> Homme
                        <input id="femme" name="sex" value="femme" type="radio"> Femme
                        <input id="autre" name="sex" value="autre" type="radio"> Autre
                    </div>
                    <div class="input-box">
                        <label class="details" for="birthDate">Date de naissance</label>
                        <input id="birthDate"
                               name="birthDate"
                               type="date" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="address">Adresse</label>
                        <input id="address"
                               name="address"
                               pattern='^[^<>%$§!?°"£\+€`*:;,()[]]*=$'
                               placeholder="Entrez l'adresse"
                               type="text" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="city">Ville</label>
                        <input id="city"
                               name="city"
                               pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                               placeholder="Entrez la ville"
                               type="text" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="postalCode">Code Postal</label>
                        <input id="postalCode"
                               name="postalCode"
                               pattern="[0-9]{5}"
                               placeholder="Entrez le code postal"
                               type="text" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="email">Email</label>
                        <input id="email"
                               name="email"
                               placeholder="Entrez l'email"
                               type="email" required>
                    </div>
                    <div class="input-box">
                        <label class="details" for="phoneNumber">Numéro de téléphone</label>
                        <input id="phoneNumber"
                               name="phoneNumber"
                               pattern="^(\+33|0033|0)([0-7])[0-9]{8}$"
                               placeholder="Entrez le numéro de téléphone"
                               type="tel" required>
                    </div>

                    <div class="level-details">
                        <label class="details">Niveau</label>
                        <input id="admin" name="admin" type="radio" value="true"> Administrateur
                        <input id="member" name="admin" type="radio" value="false"> Membre
                    </div>
                </div>
                    <div class="input-button1">
                        <input id="addMemberButton" name='addMemberButton' type="submit" value="Ajouter">
                    </div>

                <br>

            </form>
            <div class="title2"><strong> Ajouter des adhérents à partir d’Excel</strong></div>

            <div class="input-button2">
                <form action="/addmemberfromfileconfirm" id="addMemberFromFileConfirm" method="post"
                      enctype="multipart/form-data">
                    <input id="file"
                           name="file"
                           type="file"
                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <input class="ajouter" id="addMemberFromFileButton"
                           name="addMemberFromFileButton"
                           type="submit"
                           value="Ajouter"/>
                </form>
            </div>
            <div class="title3"><strong> Exporter les adhérents </strong></div>
            <div class="input-button3">

                <form action="/receivemembersfromfile" method="get">
                    <button type="submit">Exporter</button>
                </form>
            </div>
        </div>
        <div class="tableau">
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Email</th>
                    <th>Numéro de téléphone</th>
                    <th>Administrateur</th>
                </tr>
                <tr id="members" th:each="Member,i : ${session.members}">
                    <td th:utext="${Member.firstName}"></td>
                    <td th:utext="${#strings.capitalize(Member.lastName)}"></td>
                    <td th:utext="${#strings.capitalize(Member.sex)}"></td>
                    <td th:utext="${#strings.capitalize(Member.birthDate)}"></td>
                    <td th:utext="${#strings.capitalize(Member.address)}"></td>
                    <td th:utext="${#strings.capitalize(Member.city)}"></td>
                    <td th:utext="${#strings.capitalize(Member.postalCode)}"></td>
                    <td th:utext="${Member.email}"></td>
                    <td th:utext="${#strings.capitalize(Member.phoneNumber)}"></td>
                    <td th:utext="${session.status[i.index].admin}"></td>
                </tr>
            </table>
        </div>
    </main>
</div>
</body>
</html>
