<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/passwordforgotten.css"/>
    <title>Mot de passe oublié</title>
</head>
<body>
<header>
    <img class="logo" src="images/logo.png">
</header>
<div th:insert="fragments/navbar.html :: navbar"></div>
<main>
    <div class="center">
        <p th:text="${success}"></p>
        <p th:text="${error}"></p>
        <form action="/passwordforgotten" method="post">
            <div class="container">
                <div class="title">Entrez votre adresse email!</div>
                <hr/>
                <div class="data">
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="Entrez votre adresse email" type="email">
                </div>
                <br/>
                <div class="mdp">
                    <input type="submit" value="Réinitialiser le mot de passe">
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>