<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />
    <title>Mot de passe oublié</title>
</head>
<body>
<div th:insert="fragments/navbar.html :: navbar"></div>
<div id="connexion">
    <h1 th:text="'Un email de réinitialisation de mot de passe a été envoyé à ' + ${email} "></h1>
    <p th:text="${error}"></p>
</div>
</body>
